
    $primary-color: #0e8784;
    $secondary-color: #333d4b;
    $pale-orange: #fdd6ba;
    $Light-Cream-BG: #fefcf7;
    $grey: #83888f;
  
    /* btn color */
    $btn-hover: #66d2cf;
    $btn-disabled: #e2dedb;
  
    /* option color */
    $option-default: #f4f1eb;
  
    /* font size and line height*/
    $big-size: 15rem;
    $big-line-height: 0.48;
  
    $h1-size: 7.2rem;
    $h1-line-height: 1;
  
    $h2-size: 4rem;
    $h2-line-height: 1.2;
  
    $h3-size: 3.2rem;
    $h3-line-height: 1.12;
  
    $h4-size: 2.4rem;
    $h4-line-height: 1.33;
  
    $text-size: 1.6rem;
    $text-line-height: 1.62;
  
    $navbar-text-size: 1.2rem;
    $navbar-line-height: 1.25;
  
    $btn-size: 1.8rem;
    $btn-line-height: 1.39;
  
    /* font family */
    $primary-font-family: "Barlow-400";
  
    $secondary-font-family: "Fraunces 9pt-900";
  
    $navbar-font-family: "Barlow-700";
  